<div class = "jumbotron">
  <div class="container jumbo-text">
    <h1>Code is my<br>jam...</h1>
  </div>
<a id="about"></a>
</div>

<div class="row about-me-background">
  <div class="red"></div>
  <div class="orange"></div>
  <div class="medium-blue"></div>
  <div class="light-blue"></div>
  <div class="dark-blue"></div>
  <div class="about-me-text col s8 offset-s2 center">
    <h3>I also dig bright colors, art, beaches, books, craft beer, music, pottery, UI/UX, yoga, and writing...</h3>
    <%= link_to 'Check out my Blog', posts_path, class: "btn btn-large btn-default link-to-blog" %>
  </div>
</div>

<div class="container recent-work">
  <div class="row">
    <% @projects.each do |project| %>
    <div class="card small col m4">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://images.unsplash.com/photo-1448518184296-a22facb4446f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1bd19ac4e5aa3f90ce7dbd3820ec8930">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= project.name %><i class="material-icons right">more_vert</i></span>
        <p><%= link_to 'Go there...', project.url, target: 'blank' %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= project.name %><i class="material-icons right">close</i></span>
        <p><%= project.description %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="link-to-projects center">
  <%= link_to 'See All', projects_path, class: "btn see-all-projects" %>
</div>
