<div class = "jumbotron">
  <div class="container jumbo-text">
    <h1>Code is my<br>jam...</h1>
  </div>
<a id="about"></a>
</div>

<div class="row about-me-background">
  <div class="red"></div>
  <div class="orange"></div>
  <div class="light-blue"></div>
  <div class="medium-blue"></div>
  <div class="dark-blue"></div>

  <div class="about-me-text col s8 offset-s2 center fadeInBlock">
    <h3>I also love... <span id="word">reading</span>!</h3>
    <%= link_to 'Check out my Blog', posts_path, class: "btn btn-large btn-default link-to-blog" %>
  </div>
</div>

<div class="container recent-work fadeInBlock">
  <h1>Check out some of my recent projects</h1>
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col s12 m4">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag(project.project_image.url, class: "activator") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= project.name %><i class="material-icons right">more_vert</i></span>
        <p><%= link_to 'Go there...', project.url, target: 'blank' %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= project.name %><i class="material-icons right">close</i></span>
        <p><%= project.description %></p>
      </div>
      <% end %>  
    </div>
  </div>
  </div>
</div>
<div class="link-to-projects center">
  <%= link_to 'See All', projects_path, class: "btn see-all-projects" %>
</div>
