<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>My Work</h1>
    <% @projects.each do |project| %>
      <div class="col-md-3">
        <h1><%= project.name %></h1>
        <%= link_to 'go to live site', project.url %>
        <p><%= project.description %></p>
        <%= link_to 'Show', project %>
      </div>
      <% end %>

<% if current_user.try(:admin?) %>
    <%= link_to 'New Project', new_project_path %>
<% end %>
