<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>
    <div class="row">
      <% @projects.order('projects.created_at DESC').each do |project| %>
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <%= image_tag attachment_url(@project, :project_image, :fill, 350, 350, format: "jpg") %>
          <div class="caption">
            <h3><%= project.name %></h3>
            <p><%= project.description %></p>
            <%= link_to 'go to live site', project.url %>
            <%= link_to 'Show', project %>
              <% if current_user.try(:admin?) %>
                <%= link_to 'Edit', edit_project_path(project) %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
          </div>
        </div>
        </div>
      <% end %>
    </div>
<% if current_user.try(:admin?) %>
    <%= link_to 'New Project', new_project_path %>
<% end %>
