<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= image_tag attachment_url(@project, :project_image, :fill, 350, 350, format: "jpg") %>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
