<div class="jumbotron">
  <!-- <h3 class='center'>Over-Thinking. Over-Sharing.<br>Likely Underwhelming...</h3> -->
</div>
<div class="row">
  <!-- SideBar -->

  <!-- <div class="col m3 hide-on-med-and-down">
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div> -->

  <div class="col m8 offset-m2 s12">
    <div class ="admin-dashboard">
      <% if current_user.try(:admin?) %>
        <%= link_to new_post_path do %>
          <i class="fa fa-plus-circle fa-3x"></i>
        <% end %>
      <% end %>
    </div>
    <p id="notice"><%= notice %></p>
    <% @posts.order('posts.created_at DESC').each do |post| %>
      <div class='container post-wrapper'>
        <h2 class="center"><%= link_to post.title, post, class: 'post-title' %></h2>
        <p class="center"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p><%= markdown post.content %></p>
        <hr>
        <% if current_user.try(:admin?) %>
          <%= link_to edit_post_path(post) do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
</div>
