<p id="notice"><%= notice %></p>
  <h1 class="show-title"><%= @post.title %></h1>
    <div class="container col-md-8 col-md-offset-2">
      <p><%= markdown @post.content %></p>
    </div>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
<%= link_to 'Back', posts_path %>
